/*
 *
 * {{ properCase name }} reducer
 *
 */

import { fromJS } from 'immutable';
import {
  SET_KEY_VAL,
} from './constants';

const initialState = fromJS({});

function {{ camelCase name }}Reducer(state = initialState, action) {
  const { key, result, type, val } = action;
  switch (type) {
    case SET_KEY_VAL:
      return state.set(key, val);
    default:
      return state;
  }
}

export default {{ camelCase name }}Reducer;

export const DOMAIN = '{{ camelCase name }}';
